<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (driver(); as driverRef) {
      <div>
        <h2 data-cy="driverDetailsHeading"><span>Driver</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ driverRef.id }}</span>
          </dd>
          <dt><span>Last Name</span></dt>
          <dd>
            <span>{{ driverRef.lastName }}</span>
          </dd>
          <dt><span>First Name</span></dt>
          <dd>
            <span>{{ driverRef.firstName }}</span>
          </dd>
          <dt><span>Phone</span></dt>
          <dd>
            <span>{{ driverRef.phone }}</span>
          </dd>
          <dt><span>License No</span></dt>
          <dd>
            <span>{{ driverRef.licenseNo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/driver', driverRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
