<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span>Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Ticket</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tickets?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Tickets found</span>
    </div>
  }

  @if (tickets && tickets.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ticketNo">
              <div class="d-flex">
                <span>Ticket No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span>Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span>First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span>Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="room">
              <div class="d-flex">
                <span>Room</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="arrivalDate">
              <div class="d-flex">
                <span>Arrival Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departureDate">
              <div class="d-flex">
                <span>Departure Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="model">
              <div class="d-flex">
                <span>Model</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="color">
              <div class="d-flex">
                <span>Color</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="licensePlate">
              <div class="d-flex">
                <span>License Plate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="damanged">
              <div class="d-flex">
                <span>Damanged</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span>Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spot.id">
              <div class="d-flex">
                <span>Spot</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driver.id">
              <div class="d-flex">
                <span>Driver</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ticket of tickets; track trackId(ticket)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
              </td>
              <td>{{ ticket.ticketNo }}</td>
              <td>{{ ticket.lastName }}</td>
              <td>{{ ticket.firstName }}</td>
              <td>{{ ticket.phone }}</td>
              <td>{{ ticket.room }}</td>
              <td>{{ ticket.arrivalDate | formatMediumDatetime }}</td>
              <td>{{ ticket.departureDate | formatMediumDatetime }}</td>
              <td>
                {{
                  {
                    null: '',
                    ACURA: 'ACURA',
                    AUDI: 'AUDI',
                    BMW: 'BMW',
                    BUICK: 'BUICK',
                    CADDY: 'CADDY',
                    CHEVY: 'CHEVY',
                    CHRYSLER: 'CHRYSLER',
                    CORVETTE: 'CORVETTE',
                    DODGE: 'DODGE',
                    FORD: 'FORD',
                    GMC: 'GMC',
                    HONDA: 'HONDA',
                    HYUNDAI: 'HYUNDAI',
                    INFINITI: 'INFINITI',
                    JAGUAR: 'JAGUAR',
                    JEEP: 'JEEP',
                    KIA: 'KIA',
                    LEXUS: 'LEXUS',
                    LINCOLN: 'LINCOLN',
                    MAZDA: 'MAZDA',
                    MERCURY: 'MERCURY',
                    M_BENZ: 'M_BENZ',
                    MITSUBISHI: 'MITSUBISHI',
                    NISSAN: 'NISSAN',
                    OLDSMOBILE: 'OLDSMOBILE',
                    PLYMOUTH: 'PLYMOUTH',
                    PONTIAC: 'PONTIAC',
                    PORSCHE: 'PORSCHE',
                    SAAB: 'SAAB',
                    SATURN: 'SATURN',
                    SUBARU: 'SUBARU',
                    SUZUKI: 'SUZUKI',
                    TOYOTA: 'TOYOTA',
                    VOLKSWAGEN: 'VOLKSWAGEN',
                    VOLVO: 'VOLVO',
                  }[ticket.model ?? 'null']
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    BLACK: 'BLACK',
                    BLUE: 'BLUE',
                    BROWN: 'BROWN',
                    GOLD: 'GOLD',
                    GREEN: 'GREEN',
                    GREY: 'GREY',
                    ORANGE: 'ORANGE',
                    PINK: 'PINK',
                    PURPLE: 'PURPLE',
                    RED: 'RED',
                    SILVER: 'SILVER',
                    WHITE: 'WHITE',
                    YELLOW: 'YELLOW',
                  }[ticket.color ?? 'null']
                }}
              </td>
              <td>{{ ticket.licensePlate }}</td>
              <td>
                {{
                  {
                    null: '',
                    AT_PORT: 'AT_PORT',
                    CHECKED_OUT: 'CHECKED_OUT',
                    PARKED: 'PARKED',
                    WILL_COME_BACK: 'WILL_COME_BACK',
                    TEMP_ON_STREET: 'TEMP_ON_STREET',
                  }[ticket.status ?? 'null']
                }}
              </td>
              <td>{{ ticket.damanged }}</td>
              <td>{{ ticket.note }}</td>
              <td>
                @if (ticket.spot) {
                  <div>
                    <a [routerLink]="['/spot', ticket.spot.id, 'view']">{{ ticket.spot.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ticket.driver) {
                  <div>
                    <a [routerLink]="['/driver', ticket.driver.id, 'view']">{{ ticket.driver.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tickets && tickets.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
